@use "sass:color";
@import "../../styles/variables";

.popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color.scale($black, $alpha: -40%);

  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    --background-color: #{$grey-100};
    --border-color: #{$grey-900};

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color);
    border: 3px solid var(--border-color);
    border-radius: 1rem;
    padding: 20px;

    @media (prefers-color-scheme: dark) {
      --background-color: #{$grey-900};
      --border-color: #{$grey-100};
    }
  }

  &__close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
