$red: #e3350d;
$orange: #ee6b2f;
$yellow: #e6bc2f;
$green: #4dad5b;
$blue: #30a7d7;
$purple: #855ac9;

$white: #fff;
$light-grey: #e5e5e5;
$grey: #919191;
$dark-grey: #555;
$black: #000;

$warning: $red;

$round-won-color: $yellow;
$round-lost-color: $blue;
$round-unresolved-color: $light-grey;
$round-unresolved-color--dark: $grey;
